.App {
  text-align: center;

}

.answtxt {
  width: 60%
}

.addquestiontextarea {
  width: 80%;
  height: 100px
}

.answer_correct {
  color: green;
}

.answer_not_correct {
  color: black;
}

.answer_design {
  border-style: solid;
  border-color: lightgoldenrodyellow;
  margin-top: 5px;
  margin-left: 5%;
  width: 80%;
}

.window_edit_question{
  width: 80%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: beige;
  border: 1px solid black

}