.App {
  text-align: center;
}

.answtxt {
  width: 60%
}

.addquestiontextarea {
  width: 80%;
  height: 100px
}

.answer_correct {
  color: green;
}

.answer_not_correct {
  color: black;
}

.Question {
  border-style: solid;
  border-color: lightgoldenrodyellow;
  margin-top: 5px;
  margin-left: 5%;
  width: 80%;
}

.ShowQuestions {
  width: 80%;
  margin: auto auto;
  padding: 5% 5%;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  background-color: beige;
  border: 1px solid black
}

.AddQuestion, .WindowEditQuestion {
  width: 80%;
  margin: auto auto;
  padding: 5% 5%;
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: beige;
  border: 1px solid black
}

.WindowEditQuestion textarea {
  width: 80%;
}